<div class="container">
  <% users.each do |user| %>
    <div class="row">
      <p>
        <%= link_to user.email, user %> (<%= user.questions.length %> questions) 
      </p>
    </div>
  <% end %>
</div>