<div class="container">
  <% answers.each do |answer| %>
    <blockquote class="<%= cycle('', 'blockquote-reverse') %>">
      <p>
        <%= answer.text %>
      </p>
      <p>
        <%= link_to "Edit answer", edit_answer_path(answer) if can? :update, answer %>
      </p>
      <small><%= link_to answer.user.name, answer.user %></small>
    </blockquote>
  <% end %>
</div>