<div class="page-header">
  <h1><%= link_to @category.title, category_questions_path(@category) %></h1>
</div>
<div class="container">
  <ul class="nav nav-pills">
    <li class="active"><%= link_to("Edit category", edit_category_path(@category), class:"btn btn-primary") if can? :update, Category %></li>
    <li class="active"><%= link_to("Create question", new_category_question_path(@category), class:"btn btn-primary pull-right") if can? :create, Question %></li>
  </ul>
  <%= render 'questions/questions', questions: @category.questions.first(3) %>
</div>